{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="transparent-background">
    <div class="row g-0">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <h2>{% trans "Sign In" %}</h2>

        <p>{% blocktrans %} Welcome to Warcraft Mogs! <br><br> To upload your transmog, leave a comment or like a post,
          please
          log in. <br> If you have not created an account yet, please
          <a class="remove-underline" href="{{ signup_url }}">Sign up</a>.{% endblocktrans %}
        </p>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
          <button class="btn btn-dark btn-style" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}