{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="transparent-background">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h2 class="title-style">About Warcraft Mogs</h2>
                <br>
                <p class="about-style">Welcome to Warcraft Mogs, where fashion meets fantasy in the world of Warcraft! It's the place to be
                    if you're tired of running around Azeroth looking like a mismatched goblin without the heroic
                    charm. We get it, and we're here to help you unleash your inner fashionista!
                    <br>
                    <br>
                    At Warcraft Mogs, we believe that looking fabulous while slaying dragons and saving the world is a
                    top priority. We understand the struggles of finding the perfect helm to match your shoulder pads or
                    the never-ending quest for that elusive pair of boots that screams, "I'm here to kick a** and look
                    fabulous!"
                    <br>
                    <br>
                    Our platform is your one-stop-shop for showing off your character's style, sharing your creative
                    mogging masterpieces, and connecting with fellow players who appreciate the finer points of fashion
                    in Azeroth. Join our community of dedicated fashion enthusiasts, where you'll find inspiration,
                    encouragement, and maybe even a few laughs along the way.</p>
                    <br>
                    <br>

            </div>
        </div>
    </div>
</div>
{% endblock %}