{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="transparent-background">
        <div class="row g-0">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <h2 class="title-style">Contact Us</h2>

                <p>Do you want to feature your transmog in this blog? Send us an email with your screenshot, and we
                    will add it to your blog post when it has been sent for approval. Make sure to include the
                    <span class="colour-emphasis"><strong>Title</strong></span> of your post.
                </p>
                <form class="form-group" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                <button class="btn btn-dark btn-style btn-contact" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}