{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<div class="container">
    <div class="transparent-background">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h2 class="title-style delete-post-style">Delete <span class="delete-post-title">{{ post.title }}</span></h2>
          <form method="POST" action="">
            {% csrf_token %}
            <span class="font-style"><strong>Are you sure you wish to delete this post?</span></strong>
            <br>
            <br>
            <button class="btn btn-dark btn-style" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center transparent-background">
        <div class="post-preview">
          <div class="image-container">
            <img class="card-img success-img"
              src="https://res.cloudinary.com/dohlebn4a/image/upload/v1687015421/404_r8sjyp.png" alt="Thumbs up!">
          </div>
      </div>
  </div>
  
  {% endif %}
  {% else %}
  
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center transparent-background">
        <div class="post-preview">
          <div class="image-container">
            <img class="card-img success-img"
              src="https://res.cloudinary.com/dohlebn4a/image/upload/v1687015421/404_r8sjyp.png" alt="Thumbs up!">
          </div>
        </div>
    </div>
  </div>
  
  {% endif %}
  {% endblock %}