{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}

<div class="container">
    <div class="transparent-background">
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <h2 class="title-style delete-post-style">Delete <span class="delete-post-title">{{ post.title }}</span></h2>
          <form method="POST" action="">
            {% csrf_token %}
            <span class="font-style"><strong>Are you sure you wish to delete this post?</span></strong>
            <br>
            <br>
            <button class="btn btn-dark btn-style" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endif %}
{% endif %}
{% endblock %}