{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container px-4 px-lg-5 transparent-background">
    <div>
        <div class="masthead">
            <div class="container">
                <div class="row row-margin g-0">
                    <div class="row row-margin gx-4 gx-lg-5 justify-content-center">
                        <a href="{% url 'home' %}"><button class="btn btn-dark btn-style btn-back"
                                type="submit">Back</button></a>
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img"
                                src="https://res.cloudinary.com/dohlebn4a/image/upload/v1686928566/header_dgxosh.png"
                                width="100%">
                            {% else %}
                            <img class="card-img" src="{{ post.featured_image.url }}" width="100%">
                            {% endif %}
                            {% if user.is_authenticated %}
                            <div class="position-relative likes-comments font-style">
                                <div class="position-absolute top-0 start-0">
                                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn-border">
                                            <i class="fas fa-heart likes-icon"></i>
                                        </button>
                                        {% else %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn-border">
                                            <i class="far fa-heart likes-icon"></i>
                                        </button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <i class="far fa-heart likes-icon"></i>
                                    {% endif %}
                                    {{ post.number_of_likes }}
                                    <i class="fa-regular fa-comment comments-icon"></i>
                                    {{ comments.paginator.count }}
                                </div>
                            </div>
                            {% if user.is_authenticated and user.id == post.author.id %}
                            <div class="position-relative edit-buttons">
                                <div class="position-absolute bottom-0 end-0">
                                    <span class="edit_delete">
                                        <a href="{% url 'edit_post' post.slug %}">
                                            <i class="fa-solid fa-pen-to-square icon-edit"></i>
                                        </a>
                                        <a href="{% url 'delete_post' post.slug %}">
                                            <i class="fa-solid fa-trash-can icon-delete"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 post-title-author">
                        <h2 class="post-title post-title-style">{{ post.title }}</h2>
                        <p class="post-meta italic-style p-margin">
                            <a class="remove-underline" href="#!">
                                <span class="username-colour">{{ post.author }}</span>
                            </a>
                            {{ post.created_on }}
                        </p>
                        <span class="category-style">
                            <small><span class="hashtag-category">#</span>{{ post.armor }}</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col mb-4 mt-3 detail-style remove-border">
                    <div class="card-body content-style">
                        <p class="card-text">
                            {{ post.content | safe }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-8 card mb-4 mt-3 remove-border">
                    <h3>Comments:</h3>
                    <div class="card-body">
                        {% for comment in comments %}
                        {% if user.is_authenticated and user.username == comment.name %}
                        <form method="post" action="{% url 'comment_delete' post.id %}" class="comment-delete-form">
                            {% csrf_token %}
                            <div class="comments italic-style" style="padding: 10px;">
                                <p class="font-weight-bold">
                                    <span class="username-colour">{{ comment.name }}</span>
                                    <span class="text-muted font-weight-normal">
                                        {{ comment.created_on }}
                                    </span> wrote:
                                <div class="position-relative">
                                    <div class="position-absolute bottom-0 end-0">
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        <button type="submit" class="btn-delete btn-border remove-comment">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </div>
                                </div>
                                </p>
                                <span class="no-italics">{{ comment.body | linebreaks }}</span>
                                <hr>
                            </div>
                        </form>
                        {% endif %}
                        {% endfor %}
                        {% if comments.has_other_pages %}
                        <div class="pagination justify-content-center mt-4">
                            {% if comments.has_previous %}
                            <a href="?page=1" class="btn btn-link">
                                <i class="fas fa-angle-double-left"></i>
                            </a>
                            <a href="?page={{ comments.previous_page_number }}" class="btn btn-link">
                                <i class="fas fa-angle-left"></i>
                            </a>
                            {% endif %}

                            {% for num in comments.paginator.page_range %}
                            {% if num == comments.number %}
                            <a href="?page={{ num }}" class="btn btn-primary btn-pagination active">{{ num }}</a>
                            {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %} <a
                                href="?page={{ num }}" class="btn btn-primary btn-pagination">{{ num }}</a>
                                {% endif %}
                                {% endfor %}

                                {% if comments.has_next %}
                                <a href="?page={{ comments.next_page_number }}" class="btn btn-link">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                                <a href="?page={{ comments.paginator.num_pages }}" class="btn btn-link">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                                {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 card mb-4 mt-3 remove-border">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p class="p-margin italic-style">
                            Posting as:
                            <span class="username-colour">{{ user.username }}</span>
                        </p>
                        <br>
                        <div class="form-group">
                            <form method="post" style="margin-top: 1.3em;">
                                {% csrf_token %}
                                {{ comment_form | crispy }}
                                <button type="submit" class="btn-style btn btn-dark btn-style">Submit</button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}