{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Post Content-->
<div class="container px-4 px-lg-5">
    <div class="transparent-background">
        <div class="masthead">
            <div class="container">
                <div class="row row-margin g-0">
                    <div class="row row-margin gx-4 gx-lg-5 justify-content-center">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img"
                                src="https://res.cloudinary.com/dohlebn4a/image/upload/v1686340872/header_liwt82.png"
                                width="100%">
                            {% else %}
                            <img class="card-img" src=" {{ post.featured_image.url }}" width="100%">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 post-title-author">
                        <h2 class="post-title post-title-style">{{ post.title }}</h2>
                        <p class="post-meta italic-style p-margin"><a class="remove-underline" href="#!"><span
                                    class="username-colour">
                                    {{ post.author }}</span></a> {{ post.created_on }}</p>
                        <span class="category-style"><small>#{{ post.category }}</small></span>
                        <br>
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <span class="edit_delete">
                            <a href="{% url 'edit_post' post.slug %}"><i
                                    class="fa-solid fa-pen-to-square icon-white"></i> Edit</a> |
                            <a href="{% url 'delete_post' post.slug %}"> <i
                                    class="fa-solid fa-trash-can icon-white"></i> Delete</a>
                        </span>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-margin">
                <div class="col card mb-4  mt-3 left top remove-border">
                    <div class="card-body">
                        <p class="card-text">
                            {{ post.content | safe }}
                        </p>
                        <div class="row row-margin icon-container">
                            <div class="col-1">
                                <strong>
                                    {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn-like btn-border"><i class="fas fa-heart likes-icon"></i></button>
                                        {% else %}
                                        <button type="submit" name="blogpost_id" value="{{post.slug}}"
                                            class="btn-like btn-border"><i class="far fa-heart likes-icon"></i></button>
                                        {% endif %}
                                    </form>
                                    {% else %}
                                    <span class="text-secondary icon-size"><i
                                            class="far fa-heart likes-icon"></i></span>
                                    {% endif %}
                                    <span class="text-secondary text-muted h6 icon-size no-italics">
                                        {{ post.number_of_likes }}
                                    </span>
                                </strong>
                            </div>
                            <div class="col-1">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary text-muted h6 icon-size no-italics"><i
                                        class="fa-regular fa-comment comments-icon"></i>
                                    {{ total_comments }}</strong>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col">
                    <hr>
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-md-8 card mb-4 mt-3 remove-border">
                    <h3>Comments:</h3>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div class="comments italic-style" style="padding: 10px;">
                            <p class="font-weight-bold">
                                <span class="username-colour">{{ comment.name }}</span>
                                <span class="text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            <span class="no-italics">{{ comment.body | linebreaks }}</span>
                            <hr>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 card mb-4 mt-3 remove-border">
                    <div class="card-body">
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting approval
                        </div>
                        {% else %}
                        {% if user.is_authenticated %}

                        <h3>Leave a comment:</h3>
                        <p class="p-margin italic-style ">Posting as: <span class="username-colour">
                                {{ user.username }}</span></p>
                        <div class="form-group">
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="btn-style btn btn-dark btn-style">Submit</button>
                            </form>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}